[package]
name = "simple-native-all"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["staticlib"]

[lints]
workspace = true

[dependencies]
simple-compiler = { path = "../compiler" }
simple-runtime = { path = "../runtime" }
