<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Simple Language"
           Language="1033"
           Version="0.3.0"
           Manufacturer="Simple Language Team"
           UpgradeCode="12345678-1234-1234-1234-123456789012">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="Simple Language Compiler and Runtime"
             Comments="Modern, fast, and expressive programming language" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Simple Language" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="EnvironmentPath" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Simple">
          <Directory Id="BIN" Name="bin" />
          <Directory Id="LIB" Name="lib">
            <Directory Id="LIBSIMPLE" Name="simple">
              <Directory Id="STDLIB" Name="stdlib" />
              <Directory Id="APP" Name="app" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Simple Language" />
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Runtime binary -->
      <Component Id="SimpleRuntime" Guid="*">
        <File Id="SimpleRuntimeExe"
              Source="$(var.SourceDir)\bin\simple_runtime.exe"
              KeyPath="yes" />
      </Component>

      <!-- Apps -->
      <Component Id="SimpleApps" Guid="*">
        <File Id="AppCli" Source="$(var.SourceDir)\lib\simple\app\cli\main.spl" KeyPath="yes" />
        <!-- Add more app files here -->
      </Component>

      <!-- Stdlib -->
      <Component Id="SimpleStdlib" Guid="*" Directory="STDLIB">
        <!-- Add stdlib files here -->
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <!-- PATH environment variable -->
    <Component Id="EnvironmentPath" Directory="BIN" Guid="*">
      <Environment Id="PATH"
                   Name="PATH"
                   Value="[BIN]"
                   Permanent="no"
                   Part="last"
                   Action="set"
                   System="yes" />
      <CreateFolder />
    </Component>

    <!-- Start Menu shortcuts -->
    <Component Id="ProgramMenuDir" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="SimpleRuntimeShortcut"
                Name="Simple REPL"
                Description="Simple Language REPL"
                Target="[BIN]simple_runtime.exe"
                WorkingDirectory="INSTALLFOLDER" />

      <Shortcut Id="UninstallShortcut"
                Name="Uninstall Simple"
                Description="Uninstalls Simple Language"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]" />

      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\SimpleLang"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

    <!-- User Interface -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WixShellExecTarget" Value="[BIN]simple_runtime.exe" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

  </Product>
</Wix>
