[submodule "examples/cuda_exercise"]
	path = examples/cuda_exercise
	url = https://github.com/ormastes/cuda_exercise.git
[submodule "examples/simple_cuda_example"]
	path = examples/simple_cuda_example
	url = https://github.com/ormastes/simple_cuda_example.git
[submodule "examples/simple_deeplearning_study"]
	path = examples/simple_deeplearning_study
	url = https://github.com/ormastes/simple_deeplearning_study.git
[submodule "examples/10_tooling/trace32_tools"]
	path = examples/10_tooling/trace32_tools
	url = https://github.com/ormastes/trace32_tools.git
[submodule "examples/korean_stock_mcp"]
	path = examples/korean_stock_mcp
	url = https://github.com/ormastes/korean_stock_mcp.git
[submodule "examples/llm_cli_tools"]
	path = examples/llm_cli_tools
	url = https://github.com/ormastes/simple-llm-cli-tools.git
[submodule "examples/obsidian-search"]
	path = examples/obsidian-search
	url = https://github.com/ormastes/simple_obsidian_tools.git
[submodule "examples/spostgre"]
	path = examples/spostgre
	url = https://github.com/ormastes/simple-spostgre.git
[submodule "examples/nvfs"]
	path = examples/nvfs
	url = https://github.com/ormastes/simple-nvfs.git
