[submodule "examples/cuda_exercise"]
	path = examples/cuda_exercise
	url = https://github.com/ormastes/cuda_exercise.git
[submodule "examples/simple_cuda_example"]
	path = examples/simple_cuda_example
	url = https://github.com/ormastes/simple_cuda_example.git
