[submodule "examples/cuda_exercise"]
	path = examples/cuda_exercise
	url = https://github.com/ormastes/cuda_exercise.git
[submodule "examples/simple_cuda_example"]
	path = examples/simple_cuda_example
	url = https://github.com/ormastes/simple_cuda_example.git
[submodule "examples/simple_deeplearning_study"]
	path = examples/simple_deeplearning_study
	url = https://github.com/ormastes/simple_deeplearning_study.git
[submodule "examples/10_tooling/trace32_tools"]
	path = examples/10_tooling/trace32_tools
	url = https://github.com/ormastes/trace32_tools.git
