[workspace]
resolver = "2"
members = [
    "src/parser",
    "src/loader",
    "src/compiler",
    "src/native_loader",
    "src/lib",
    "src/common",
    "src/runtime",
    "src/driver",
    "src/pkg",
    "log",
    "src/type",
    "src/util/simple_mock_helper",
    "tests",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"

[workspace.dependencies]
thiserror = "1.0"
