body { background-color: #ffffff; color: #000000; font-size: 12px; }
#outer { background-color: #eeeeee; color: #000000; font-size: 12px; }
#header { background-color: #ccddff; color: #001133; font-size: 16px; }
#middle { background-color: #ffeecc; color: #331100; font-size: 12px; }
#left { background-color: #ccffcc; color: #003300; font-size: 14px; }
#right { background-color: #ffcccc; color: #330000; font-size: 14px; }
#footer { background-color: #cccccc; color: #111111; font-size: 10px; }
