[package]
name = "ffi_concurrent"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
rayon = "1.10"
crossbeam = "0.8"
parking_lot = "0.12"
dashmap = "6.1"
