body { background-color: #ffffff; color: #000000; }
#outer { background-color: #eeeeee; color: #000000; }
#header { background-color: #ccddff; color: #001133; }
#middle { background-color: #ffeecc; color: #331100; }
#left { background-color: #ccffcc; color: #003300; }
#right { background-color: #ffcccc; color: #330000; }
#footer { background-color: #cccccc; color: #111111; }
