body { background-color: #ffffff; color: #000000; font-size: 12px; padding: 0; margin: 0; }
#outer { background-color: #eeeeee; color: #000000; font-size: 12px; padding: 8px; margin: 4px; }
#header { background-color: #ccddff; color: #001133; font-size: 16px; padding: 4px; margin: 2px; }
#middle { background-color: #ffeecc; color: #331100; font-size: 12px; padding: 6px; margin: 2px; }
#left { background-color: #ccffcc; color: #003300; font-size: 14px; padding: 4px; margin: 2px; }
#right { background-color: #ffcccc; color: #330000; font-size: 14px; padding: 4px; margin: 2px; }
#footer { background-color: #cccccc; color: #111111; font-size: 10px; padding: 2px; margin: 2px; }
